ul {
  list-style-type: none;
}

img {
  width: 360px;
  height: 200px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;

  padding: 24px 156px;
}
.gallery-item {
  flex-basis: calc((100% -24px) / 3);
}
.gallery-image {
  width: 360px;
  height: 200px;
  overflow: hidden;
  transition: transform 300ms ease-in-out;
}
.modal {
  max-height: 696px;
  user-select: none;
  background-color: rgba(46, 47, 66, 0.8);
  max-width: 100%;
  object-fit: cover;
  flex-direction: column;
  align-items: center;
  padding: 28px 164px;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.1);
}
.modal-img {
  width: 1112px;
  height: 640px;
  object-fit: contain;
}
